*.m4
*.in
*.o
Makefile
configure
autom4te.cache/*
config.*
depcomp
install-sh
missing
stamp-h1

src/yaaes
src/yaaes.o
src/*.in
src/Makefile
src/.deps/*
src/*.o

src/yaaes-1d

bin/YAAESInspector

build/
